<% if @stock %>
  <div class="bg-gray-100 p-4 mt-8 space-x-2 w-1/2 border rounded-md flex items-center">
    <p><strong>Symbol: </strong> <%= @stock.ticker.upcase %></p>
    <p><strong>Name: </strong> <%= @stock.name %></p>
    <p><strong>Price: </strong> <%= @stock.last_price %></p>
  </div>
<% else %>
  <div class="w-1/2">
    <%= render 'shared/flash' %>
  </div>
<% end %>
