<% if notice %>
  <p class="bg-yellow-200 text-gray-600 text-lg py-4 px-6 my-8 rounded-lg"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="bg-red-400 text-gray-600 text-lg py-4 px-6 my-8 rounded-lg"><%= alert %></p>
<% end %>
